rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      // Allow unauthenticated creation for seeding, but otherwise require auth.
      allow create: if request.auth == null || isSignedIn();
      allow read: if isSignedIn();
      allow write: if isSignedIn() && isOwner(userId);
    }

    match /campaigns/{campaignId} {
      // Allow unauthenticated creation for seeding, but otherwise require auth.
      allow create: if request.auth == null || isSignedIn();
      allow read, update, delete: if isSignedIn();

      match /beneficiaries/{beneficiaryId} {
        // Allow unauthenticated creation for seeding, but otherwise require auth.
        allow create: if request.auth == null || isSignedIn();
        allow read, update, delete: if isSignedIn();
      }
    }
  }
}
