
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
<<<<<<< HEAD
    --background: 140 40% 98%;
    --foreground: 142 60% 20%;
    --card: 140 60% 100%;
    --card-foreground: 142 60% 20%;
    --popover: 140 60% 100%;
    --popover-foreground: 142 60% 20%;
=======
    --background: 140 40% 96%;
    --foreground: 142 70% 25%;
    --card: 140 60% 99%;
    --card-foreground: 142 70% 25%;
    --popover: 140 60% 99%;
    --popover-foreground: 142 70% 25%;
>>>>>>> b801c4913b8f519048c191e413de6d9c3ca543da
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 140 50% 98%;
    --secondary: 142 70% 92%;
    --secondary-foreground: 142 70% 25%;
    --muted: 142 50% 96%;
    --muted-foreground: 142 25% 40%;
    --accent: 142 70% 92%;
    --accent-foreground: 142 80% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 70% 88%;
    --success-foreground: 142 80% 20%;
    --border: 142 30% 88%;
    --input: 142 60% 98%;
    --ring: 142.1 76.2% 36.3%;
    --chart-1: 142.1 76.2% 36.3%;
    --chart-2: 221.2 83.2% 53.3%;
    --chart-3: 346.8 77.2% 49.8%;
    --chart-4: 47.9 95.8% 53.1%;
    --chart-5: 262.1 83.3% 57.8%;
    --chart-6: 25 95% 53%;
    --chart-7: 195 95% 53%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
}

body {
  @apply bg-background text-foreground;
}
